<body>
<div class="container">

    <form class="form-horizontal">
        <div class='col-sm-6'>
            <form:text id="union name" label="工会名称" name="one">
            </form:text>
        </div>
        <div class='col-sm-6'>
            <form:text id="two" label="证书证号" name="two">
            </form:text>
        </div>


         <div class='col-sm-6'>
            <form:text id="three" label="法定代表人" name="three">
            </form:text>
        </div>
        <div class='col-sm-6'>
            <form:text id="four" label="经办人" name="four">
            </form:text>
        </div>


         <div class='col-sm-6'>
            <form:text id="five" label="注销原因" name="five">
            </form:text>
        </div>
        <div class='col-sm-6'>
            <form:text id="six" label="注销依据" name="six">
            </form:text>
        </div>

        <div class='col-sm-6'>
            <form:text id="seven" label="隶属工会名称" name="seven">
            </form:text>
        </div>
        <div class='col-sm-6'>
            <form:text id="eight" label="资产处理情况" name="eight">
            </form:text>
        </div>  
        
        <div class='col-sm-6'>
            <form:text id="nine" label="债权债务处理情况" name="nine">
            </form:text>
         </div>  
      </form>
  </div>    
        
       <div class="row text-center">
            <qx:btn id="sure" class="btn btn-default" fa="fa fa-address-book" label="确认">
            </qx:btn>
            <qx:btn id="back" class="btn btn-primary" fa="fa fa-address-book" label="返回">
            </qx:btn>
        
    
</div>

</body>