<css>
	<link th:href="@{/static/css/flowChart.css}" rel="stylesheet">
</css>
<body>
   <div class="form-horizontal">
       <div class="row">
           <div class="col-sm-12">
               <div class="flowChart">
                   <!--左侧轴-->
                   <div class="flowChart-left">
                       <!--虚线-->
                       <div class="dashed"></div>
                   </div>
                   <!--右侧内容-->
                   <div class="flowChart-right">
                       <!--节点-->
                       <div class="oneNode" th:each="log : ${logList}">
                           <!--左侧小球-->
                           <div class="check check-prime" th:if="${log.status == 0}">
                               发起
                           </div>
                           <div class="check check-prime" th:if="${log.status == 1}">
                               待审核
                           </div>
                           <div class="check check-success" th:if="${log.status == 2}">
                               同意
                           </div>
                           <div class="check check-danger" th:if="${log.status == 3}">
                               拒绝
                           </div>
                           <div class="check check-warning" th:if="${log.status == 4}">
                               转发
                           </div>
                           <div class="tag-boder">
                               <div class="tag">
                               </div>
                           </div>
                           <!--右侧内容-->
                           <div class="NodeDetail">
                               <!--上-->
                               <div class="NodeDetail-title">
                                   <!--头像-->
                                   <!--<img src="img/headImg.jpg" />-->
                                   <!--内容-->
                                   <div class="details">
                                   	<span class="orgName" th:if="${log.phone!=null}" th:utext="${log.fullname+'（电话:<a>'+log.phone+'</a>)'}"></span>
                                       <span class="orgName" th:if="${log.phone==null}" th:text="${log.fullname}"></span>
                                       <h4 th:text="${log.content}"></h4>
                                   </div>
                               </div>
                               <!--中-->
                               <div class="NodeDetail-content">
                                   <p th:text="${log.comment}"></p>
                               </div>
                               <!--下-->
                               <div class="NodeDetail-footer">
                                   <span th:text="${log.checkTime}"></span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</body>
<js>
<script type="text/javascript">
   var val=$(".flowChart-right").css("height");
   $(".dashed").css("height",val);
</script>
</js>
